%% -*- erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]}.

{deps, [
        {lager, "3.5.1"},
        {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}},
        {ct_auth, {git, "https://github.com/CargoTube/ct_auth.git", {branch, "master"}}},
        {ct_stats, {git, "https://github.com/CargoTube/ct_stats.git", {branch, "master"}}},
        {ct_msg, {git, "https://github.com/CargoTube/ct_msg.git", {branch, "master"}}}
       ]}.

{plugins, [
           {rebar3_lint, {git, "https://github.com/bwegh/rebar3_lint.git", {branch, "master"}}}
          ]}.

{relx, [{release, {ct_router, "semver"},
         [ct_router]},
        {sys_config, "config/sys.config"},
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {generate_start_script, true}]}.

{profiles, [
            {test, [
                    {deps, [{meck, "0.8.8"}]},
                    {cover_enabled, true},
                    {cover_opts, [verbose]}
                   ]}
           ]}.

{elvis, [
         #{dirs => ["."],
           filter => "elvis.config",
           ruleset => elvis_config },
         #{dirs => ["src"],
           filter => "*.erl",
           ruleset => erl_files },
         #{dirs => ["."],
           filter => "Makefile",
           ruleset => makefiles },
         #{dirs => ["."],
           filter => "rebar.config",
           ruleset => rebar_config }
        ] }.
